audioread
bokeh
chex
git+https://github.com/deepmind/dm_aux.git
dm_pix
distrax
einops
flax
flaxmodels
gin-config
holoviews
jax
jaxlib
librosa
manim
matplotlib
music21
numpy
optax
pandas
panel
plotly
pretty_midi
pyrubberband
pyo
resampy
rise
seaborn
scikit-learn
scipy
tensorboard
tensorflow_datasets
tensorflow_estimator
tensorflow_probability
tqdm
torch
torchaudio
torchtext
torchvision