audioread
bokeh
chex
dm_pix
distrax
einops
flax
flaxmodels
gin
holoviews
jax
jaxlib
librosa
manim
matplotlib
numpy
optax
pandas
panel
plotly
pretty_midi
pyrubberband
resampy
rise
seaborn
sklearn
scipy
tensorboard
tensorflow_datasets
tensorflow_estimator
tensorflow_probability
tqdm
torch
torchaudio
torchvision